:root {
    --table-body-height: auto;
    --table-body-width: fit-content;
}

tbody > ::deep div {
    display: table-row;
}

.sort-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.selectSize {
    background-color: white;
    width: 40px;
    height: 20px;
    outline: none !important;
    border: none !important;
}

    .selectSize option {
        background-color: white;
        outline: none !important;
        border: none !important;
    }

.sizeSelector {
    height: 25px;
    display: inline-flex;
    align-items: center;
}

.tblComponentHeader {
    position: sticky;
    top: 0;
    border-top: none;
    border-bottom: none;
    box-shadow: inset 0 0 0 #000000, inset 0 -2px 0 #000000;
    background-color: white;
    z-index: 1000;
}

.tblComponentBody {
    display: block;
    overflow: auto;
    height: var(--table-body-height);
    width: var(--table-body-width);
}

.tblComponentFooter {
    box-shadow: inset 0 0 0 #d3d3d3, inset 0 -2px 0 #d3d3d3;
}

.header-sort {
}

::deep td, ::deep td * {
    /*text-align: center;*/
    vertical-align: middle;
}

.tblHeaderOptionsContainer {
    display: flex;
    justify-content: space-between;
}

.tblComponentHeader th:hover .col-width-draghandle {
    cursor: ew-resize;
    width: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-arrows-expand" viewBox="0 0 16 16">  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8ZM7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2ZM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10Z"/></svg>');
    background-repeat: no-repeat;
    transform: rotate(90deg);
}

    .tblComponentHeader th:hover .col-width-draghandle:after {
        /*content: ' ';*/
        /*border-left: 2px solid darkgrey;*/
    }


th ::deep .sort-indicator {
    /* Preset width so the column width doen't change as the sort indicator appears/disappears */
    width: 1rem;
    height: 1rem;
}

.col-sort-asc ::deep .sort-indicator, .col-sort-desc ::deep .sort-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">  <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/></svg>');
    margin-right: 10px;
}

.col-sort-desc ::deep .sort-indicator {
    transform: scaleY(-1);
}


::deep .col-title {
    display: flex;
    align-items: center;
}

::deep .tblComponentHeader a:hover {
    background-color: #E8E8E8 !important;
}
